.pokedex {
	display: flex;
	align-items: center;
}

.pokedex__member {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 2em;
	cursor: pointer;
}

.pokedex__member__image {
	max-width: 50px;
	height: auto;
}

.pokedex__member__name {
	font-size: 200%;
	color: white;
	margin: 0;
}

.pokedex__empty {
	font-size: 300%;
	color: white;
}
